html {
  --title-font-family: "Epilogue", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--title-font-family);
  background-color: #fafafa;
}

html,
body {
  min-height: 100vh;
}

.title {
  font-family: var(--title-font-family);
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  color: #ffffff;
}

header {
  background-image: url("../assets/header.jpg");
  background-origin: center;
  background-size: cover;
}

.inline-label {
  display: inline;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.main-container {
  margin: 3rem;
  padding: 1.2rem;
  border-radius: 1.5rem;
  border: 1px;

  box-shadow: 0px 6px 30px rgba(17, 96, 96, 0.12);
}

.result-table,
th,
td {
  border-collapse: collapse;
  padding: 0.5rem;

}

.result-table th {
  color: white;
  background-color: #2c85eb;
}

.result-table td {
  background-color: #f3f3f3;
  border: 1px solid rgb(153, 153, 153);
}

.result-table {
  margin: 1rem;
}